

 .custom-col-1,
 .custom-col-2 {
   border-radius: 10px;
 }


 .d-2 {
   font-weight: 700;
   color: #355967;
 }

 .profile-img {}

 li a {
   text-decoration: none;
   padding: 10px 0;
   display: inline-block;
   color: #093446;
 }

 .top-nav {
   border-bottom: 1px solid lightgray;
 }
 Form{
  color: #093446;
 }